<h3>{{ title }}</h3>
{{allRecipes.length}}   <!--debug-->
<div class="recipeList">
    <!-- <li *ngFor="let recipe of allRecipes | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" -->
        <!-- <li *ngFor="let recipe of currentRecipePage"  -->
    <div *ngFor="let recipe of allRecipes"
        class="recipeButton"
        [class.selected]="recipe === selectedRecipe" 
        (click)="onSelect(recipe)">
    <!-- <li *ngFor="let recipe of allRecipes"> -->
        {{ recipe.name }}{{ getVariantSuffix(recipe) }}
	</div>
</div>

<!-- <pre>Address: {{ inventoryAddr }}</pre> -->

<!-- <jw-pagination [items]="allRecipes" (changePage)="onChangePage($event)"></jw-pagination> -->
<!-- <ngb-pagination
    [collectionSize]="15" 
    [(page)]="page" 
    [(pageSize)]
    [maxSize]="5" 
    [rotate]="true" 
    [ellipses]="false" 
    [boundaryLinks]="true">
</ngb-pagination> -->

<!-- <pre>Recipes: {{ allRecipes | json }}</pre> -->
<!-- <pre>Selected: {{ selectedRecipe | json }}</pre> -->
<hr>
<app-recipe *ngIf="selectedRecipe" 
    [id]="selectedRecipe.id" 
    [name]="selectedRecipe.name" 
    [variant]="selectedRecipe.variant"
    [recipe]="selectedRecipe">
</app-recipe>
<!-- <app-recipe *ngIf="selectedRecipe" [recipe]="selectedRecipe"></app-recipe> -->