<h3>{{ title }}</h3>
<ul class="recipes">
    <li *ngFor="let recipe of allRecipes" [class.selected]="recipe === selectedRecipe" (click)="onSelect(recipe)">
    <!-- <li *ngFor="let recipe of allRecipes"> -->
        {{ recipe.name }} {{ recipe.variant }}
	</li>
</ul>
<!-- <pre>Types: {{ allDrinkTypes | json }}</pre>
<pre>Styles: {{ allPreparationStyles | json }}</pre>
<pre>Families: {{ allFamilies | json }}</pre>
<pre>Primary Components: {{ allPrimaryComponents | json }}</pre>
<pre>Secondary Components: {{ allSecondaryComponents | json }}</pre> -->

<!-- <pre>Recipes: {{ allRecipes | json }}</pre>
<pre>Selected: {{ selectedRecipe | json }}</pre> -->
<app-recipe *ngIf="selectedRecipe" [id]="selectedRecipe.id" [name]="selectedRecipe.name" [variant]="selectedRecipe.variant"></app-recipe>