<!-- <form [formGroup]="selectionForm" (ngSubmit)="onSubmit()"> -->
    <div class = "top-bar container" name="criteria">
        <form class="one-column" #typeForm="ngForm">
            <label for="Type">Drink Type:</label>
            <br>

            <div class="wrap" name ="select-type">
                <div>
                    <input type="checkbox" 
                        id="type-all" 
                        name="{{ typeOptions.name }}" 
                        value="all" 
                        [checked]="areAllTypesSelected"
                        (change)="setGroupSelected($event.target.name, $event.target.checked)" />
                    <label for="type-all">(Select All)</label>
                </div>

                <div *ngFor="let subOption of typeOptions.subOptions; let i = index">
                    <input type="checkbox"
                        id="type-{{ typeOptions.subOptions[i].name | lowercase }}" 
                        name="{{ typeOptions.name }}"
                        value="{{ typeOptions.subOptions[i].name }}"
                        [(ngModel)]="typeOptions.subOptions[i].selected" 
                        (ngModelChange)="toggleSelected(typeOptions.name, typeOptions.subOptions[i].name, $event)">
                    <label for="type-{{ typeOptions.subOptions[i].name | lowercase }}">
                        {{ typeOptions.subOptions[i].name }}
                    </label>
                </div>
            </div>
            <!-- <pre>Types: {{ allTypes | json }}</pre> -->
            <!-- <pre>Selected: {{ allSelectedTypes | json }}</pre> -->
        </form>

        <form class="two-column" #styleForm="ngForm">
            <label for="Style">Preparation Style:</label>
            <br>

            <div class="wrap" name = "select-style">
                <div>
                    <input type="checkbox" 
                        id="style-all" 
                        name="{{ styleOptions.name }}" 
                        value="all" 
                        [checked]="areAllStylesSelected" 
                        (change)="setGroupSelected($event.target.name, $event.target.checked)" />
                    <label for="style-all">(Select All)</label>
                </div>

                <div *ngFor="let subOption of styleOptions.subOptions; let i = index">
                    <input type="checkbox"
                        id="style-{{ styleOptions.subOptions[i].name | lowercase }}" 
                        name="{{ styleOptions.name }}"
                        value="{{ styleOptions.subOptions[i].name }}"
                        [(ngModel)]="styleOptions.subOptions[i].selected" 
                        (ngModelChange)="toggleSelected(styleOptions.name, styleOptions.subOptions[i].name, $event)">
                    <label for="style-{{ styleOptions.subOptions[i].name | lowercase }}">
                        {{ styleOptions.subOptions[i].name }}
                    </label>
                </div>
            </div>
        </form>
        
        <!-- <pre>Styles: {{ allStyles | json }}</pre>
        <pre>Selected: {{ allSelectedStyles | json }}</pre> -->

        <form class="three-column" #familyForm="ngForm">
            <label for="Family">Cocktail Family:</label>
            <br>

            <div class="wrap" name="select-family">
                <div>
                    <input type="checkbox" 
                        id="family-all" 
                        name="{{ familyOptions.name }}" 
                        value="all" 
                        [checked]="areAllFamiliesSelected" 
                        (change)="setGroupSelected($event.target.name, $event.target.checked)" />
                    <label for="family-all">(Select All)</label>
                </div>

                <div *ngFor="let subOption of familyOptions.subOptions; let i = index">
                    <input type="checkbox"
                        id="family-{{ familyOptions.subOptions[i].name | lowercase }}" 
                        name="{{ familyOptions.name }}"
                        value="{{ familyOptions.subOptions[i].name }}"
                        [(ngModel)]="familyOptions.subOptions[i].selected" 
                        (ngModelChange)="toggleSelected(familyOptions.name, familyOptions.subOptions[i].name, $event)">
                    <label for="family-{{ familyOptions.subOptions[i].name | lowercase }}">
                        {{ familyOptions.subOptions[i].name }}
                    </label>
                </div>
            </div>
        </form>
        <!-- <pre>Families: {{ allFamilies | json }}</pre> -->
        <!-- <pre>Selected: {{ allSelectedFamilies | json }}</pre> -->

        <form class="one-column">
            <label>Muddling:</label>
            <br>
                <div>
            <input type="checkbox" id="muddle" name="muddle" value="reqMuddling" [(ngModel)]="muddlingRequired">
            <label for="search">Required</label>
        </div>
        </form>
    </div>

    <br>

    <div class="top-bar container">
        <form class="three-deep" #occassionForm="ngForm">
            <label for="Type">Appropriate for Occassion:</label>
            <br>

            <div class="wrap" name ="select-occassion">
                <div>
                    <input type="checkbox" 
                        id="occassion-all" 
                        name="{{ occassionOptions.name }}" 
                        value="all" 
                        [checked]="areAllOccassionsSelected"
                        (change)="setGroupSelected($event.target.name, $event.target.checked)" />
                    <label for="occassion-all">(Select All)</label>
                </div>

                <div *ngFor="let subOption of occassionOptions.subOptions; let i = index">
                    <input type="checkbox"
                        id="occassion-{{ occassionOptions.subOptions[i].name | lowercase }}" 
                        name="{{ occassionOptions.name }}"
                        value="{{ occassionOptions.subOptions[i].name }}"
                        [(ngModel)]="occassionOptions.subOptions[i].selected" 
                        (ngModelChange)="toggleSelected(occassionOptions.name, occassionOptions.subOptions[i].name, $event)">
                    <label for="type-{{ occassionOptions.subOptions[i].name | lowercase }}">
                        {{ occassionOptions.subOptions[i].name }}
                    </label>
                </div>
            </div>
        </form>
        
        <!-- <pre>Occassions: {{ allOccassions | json }}</pre>
        <pre>Selected: {{ allSelectedOccassions | json }}</pre> -->
    </div>

    <br>

    <div class="mid-bar container">
        <form class="one-deep" #mainComponentsForm="ngForm">
            <label for="Main">Spirit:</label>
            <br>

            <div class="wrap" name="main-components">
                <div class="item">
                    <input type="checkbox" 
                        id="primary-all" 
                        name="{{ primaryOptions.name }}" 
                        value="all" 
                        [checked]="areAllPrimaryComponentsSelected" 
                        (change)="setGroupSelected($event.target.name, $event.target.checked)" />
                    <label for="primary-all">(Select All)</label>
                </div>

                <div *ngFor="let subOption of primaryOptions.subOptions; let i = index"  class="item">
                    <input type="checkbox"
                        id="primary-{{ primaryOptions.subOptions[i].name | lowercase }}" 
                        name="{{ primaryOptions.name }}"
                        value="{{ primaryOptions.subOptions[i].name }}"
                        [disabled]="!primaryOptions.subOptions[i].enabled"
                        [(ngModel)]="primaryOptions.subOptions[i].selected" 
                        (ngModelChange)="toggleSelected(primaryOptions.name, primaryOptions.subOptions[i].name, $event)">
                    <label for="primary-{{ primaryOptions.subOptions[i].name | lowercase }}">
                        {{ primaryOptions.subOptions[i].name }}
                    </label>
                </div>
            </div>
        <!-- <pre>Main Components: {{ allPrimaryComponents | json }}</pre> -->
        <!-- <pre>Selected: {{ allSelectedPrimaryComponents | json }}</pre> -->
        </form>
        </div>

        <br>

        <div class="mid-bar container">
        <form class="five-deep" #secondaryComponentsForm="ngForm">
            <label for="Auxiliary">Auxiliary Components:</label>
            <br>

            <div class="wrap" name="secondary-components">
                <div>
                    <input type="checkbox" 
                            id="secondary-all" 
                            name="{{ secondaryOptions.name }}" 
                            value="all" 
                            [checked]="areAllSecondaryComponentsSelected" 
                            (change)="setGroupSelected($event.target.name, $event.target.checked)" />
                    <label for="secondary-all">(Select All)</label>
                </div>

                <div *ngFor="let subOption of secondaryOptions.subOptions; let i = index">
                    <input type="checkbox"
                        id="secondary-{{ secondaryOptions.subOptions[i].name | lowercase }}" 
                        name="{{ secondaryOptions.name }}"
                        value="{{ secondaryOptions.subOptions[i].name }}"
                        [disabled]="!secondaryOptions.subOptions[i].enabled"
                        [(ngModel)]="secondaryOptions.subOptions[i].selected" 
                        (ngModelChange)="toggleSelected(secondaryOptions.name, secondaryOptions.subOptions[i].name, $event)">
                    <label for="secondary-{{ secondaryOptions.subOptions[i].name | lowercase }}">
                        {{ secondaryOptions.subOptions[i].name }}
                    </label>
                </div>
            </div>
            <!-- <pre>Auxiliary Components: {{ allSecondaryComponents | json }}</pre> -->
            <!-- <pre>Selected: {{ allSelectedSecondaryComponents | json }}</pre> -->
        </form>
    </div>

    <br>

    <div class="mid-bar container">
        <form class="thirty-deep" #tertiaryComponentsForm="ngForm">
            <label for="Misc">Non-Alcoholic Components:</label>
            <br>

            <div class="wrap" name="tertiary-components">
                <div>
                    <input type="checkbox" 
                            id="tertiary-all" 
                            name="{{ tertiaryOptions.name }}" 
                            value="all" 
                            [checked]="areAllTertiaryComponentsSelected" 
                            (change)="setGroupSelected($event.target.name, $event.target.checked)" />
                    <label for="tertiary-all">(Select All)</label>
                </div>

                <div *ngFor="let subOption of tertiaryOptions.subOptions; let i = index">
                    <input type="checkbox"
                        id="secondary-{{ tertiaryOptions.subOptions[i].name | lowercase }}" 
                        name="{{ tertiaryOptions.name }}"
                        value="{{ tertiaryOptions.subOptions[i].name }}"
                        [disabled]="!tertiaryOptions.subOptions[i].enabled"
                        [(ngModel)]="tertiaryOptions.subOptions[i].selected" 
                        (ngModelChange)="toggleSelected(tertiaryOptions.name, tertiaryOptions.subOptions[i].name, $event)">
                    <label for="tertiary-{{ tertiaryOptions.subOptions[i].name | lowercase }}">
                        {{ tertiaryOptions.subOptions[i].name }}
                    </label>
                </div>
            </div>
            <!-- <pre>Non-Alcoholic Components: {{ allTertiaryComponents | json }}</pre> -->
            <!-- <pre>Selected: {{ allSelectedTertiaryComponents | json }}</pre> -->
        </form>
    </div>

    <br>
    <br>

    <div class = "bottom-bar container">
        <div name = "search">
            <label for="search">Filter by name:</label>
            <br>
            <input type="text" id="search" name="search" placeholder="..." [(ngModel)] = "nameToFind">
        </div>

        <div name = "inventory">
            <label for="location">Inventory Location:</label><br>

            <select id="location" [(ngModel)]="selectedInventory">
                <option *ngFor="let inventory of allInventories" 
                    ng-selected="selectedInventory" 
                    [ngValue]="inventory">
                    {{ inventory }}
                </option>
            </select>

            <input type="checkbox" id="available" name="available" value="isAvailable" 
            [(ngModel)]="limitToAvailable"
            (ngModelChange)="updateAvailableComponentsBasedOnInventory()">
            <label for="available">Limit to currently available</label>
            <!-- <pre>Limit: {{ limitToAvailable }}</pre> -->
        </div>
    </div>

     <!-- <button type="submit" [disabled]="!selectionForm.valid">Refresh Recipe List</button> -->
<!--</form> -->

<hr>

<app-recipe-list 
    [types]="allSelectedTypes"
    [occassions]="allSelectedOccassions"
    [styles]="allSelectedStyles"
    [families]="allSelectedFamilies"
    [muddling]="muddlingRequired"
    [primaries]="allSelectedPrimaryComponents"
    [secondaries]="allSelectedSecondaryComponents"
    [name]="nameToFind"
    [inventory]="selectedInventory"
    [limit]="limitToAvailable"
    [spirits]="allAvailableSpirits"
    [nonspirits]="allAvailableNonSpirits"
></app-recipe-list>