.container
    display: flex

    .item
        flex: none
    
.top-bar
    width: 85%
    //justify-content: space-around
    justify-content: space-between
    //align-content: flex-start
    align-content: space-between
    height: 7em
    // flex-wrap: wrap

    .one-column
        width: 12em
        //flex-grow: 2
        flex-basis: auto

    .two-column
        width: 22em
        //flex-grow: 2
        flex-basis: auto

    .three-column
        width: 30em
        //flex-grow: 2
        flex-basis: auto

    .four-column
        width: 40em
        //flex-grow: 2
        flex-basis: auto

    .three-deep
        height: 4em
        //flex-grow: 2
        flex-basis: auto

    .four-deep
        height: 5em
        //flex-grow: 2
        flex-basis: auto

    .wrap
        display: flex
        flex-direction: column
        flex-wrap: wrap
        align-content: flex-start
        height: 100%

    /*div
        //height: 50em
        width: 33%
        display: flex
        flex-direction: column*/

.mid-bar
    width: 85%
    // height: 7em
    //flex-direction: column
    //flex-wrap: wrap

    .one-deep
        height: 2em
        flex-basis: auto

    .two-deep
        height: 3em
        flex-basis: auto

    .three-deep
        height: 4em
        flex-basis: auto

    .four-deep
        height: 6em
        flex-basis: auto

    .five-deep
        height: 7em
        flex-basis: auto

    .ten-deep
        height: 13em
        flex-basis: auto

    .fifteen-deep
        height: 19em
        flex-basis: auto

    .thirty-deep
        height: 38em
        flex-basis: auto

    .wrap
        display: flex
        flex-direction: column
        flex-wrap: wrap
        align-content: flex-start
        height: 100%

.bottom-bar
    width: 85%
    justify-content: space-between