<div>
    <div id="servingInfo">
        <h4>Serving Details</h4>
        Prep Style: {{ allPrepStyles.join(', ') }}<br>
        Glass: {{ allGlasses.join(', ') }}<br>
        Served: {{ allIce.join('; ') }}<br>
    </div>
    <div id="cocktailInfo">
        <h4>Cocktail Details</h4>
        Cocktail Family: {{ allCocktailFamilies.join(', ') }}<br>
        Occassions: {{ allOccassions.join(', ') }}
        <!-- <pre>Occassions: {{ allOccassions | json }}</pre> -->
    </div>
</div>
<div class = "recipeInfo">
    <!-- <pre>Images: {{ allImageLinks | json }}</pre> -->
    <!-- <pre>Total Images: {{ allImageLinks.length }}</pre> -->
    <!-- <pre>Width: {{ 100 / allImageLinks.length }}%</pre> -->
    <div class="recipePhotos">
        <!-- <div *ngFor="let imageLink of allImageLinks">
            <pre>Url: {{ imageLink[0] | json }}</pre>
            
            <img *ngIf="imageLink" 
                src="{{ imageLink }}" 
                alt="{{ name }}" 
                crossorigin="anonymous" 
            />
        </div> -->
        <img *ngIf="allImageLinks[0]" 
                src="{{ allImageLinks[0] }}" 
                alt="{{ name }}" 
                crossorigin="anonymous" 
            />
    </div>
</div>
    
    <div id="recipeExtras">
        <h4>Misc Details:</h4>
        Volume: {{ ounces}} oz / {{ millilitres }} mL<br>
        Related to: {{ relatedTo }}<br>
        <p>{{ notes }}</p>
    </div>